@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GowunBatang";
    font-weight: normal;
    src: url("/fonts/GowunBatang-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "GowunBatang";
    font-weight: bold;
    src: url("/fonts/GowunBatang-Bold.ttf") format("truetype");
}

body * {
    font-family: "GowunBatang";
    font-weight: normal;
}

/* swiper */
.swiper {
    width: 100%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
} 
.swiper-wrapper{
    align-items: center;
}

/* Account */
#groom, #bride {
    height: 0;
    overflow: hidden;
    transition: all .5s;
}
#groom.active, #bride.active{
    height: 250px;
}

.accountButton > svg {
    transform: rotate(0deg);
    transition: all .3s ease;
}
.accountButton > svg.active {
    transform: rotate(180deg);
    transition: all .3s ease;
}

/* Gallery */
.base-classes{
    box-shadow: none;
    background-color: transparent;
}
.bg-content1{
    background-color: transparent;
}
.header-classes,
.prev-button-classes,
.next-button-classes{
    display: none;
}
.base-classes *:not(.grid-cell-button-classes[data-selected="true"] span) {
    background-color: #fee2e2;
}
.grid-cell-button-classes[data-selected="true"]{
    color: #fff !important;
    background-color: #f87171 !important;
}
.content-classes{
    background-color: transparent;
}
.grid-header-classes{
    background-color: transparent;
}
.grid-body-classes{
    background-color: #fee2e2;
}
